######################################################################
#
#
# Generic .gitignore common for various platform environments.
#
#
######################################################################

# Composer
composer.lock

# Node
/node_modules/

# iOS
.DS_STORE
.idea/
